body,
html {
  margin: 0;
  padding: 0;
}

h1,
h2,
p,
input {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75em;
}

header {
  color: white;
  background-color: #6943ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

header input {
  background-color: transparent;
  line-height: 2;
  color: white;
  text-align: center;
  font-size: 3.625em;
  padding: 1rem;
  width: 5rem;
  height: 3rem;
  border: 2px solid #b295ff;
  border-radius: 5px;
}

.convert-style {
  padding: 0.5rem 1.375rem;
  border-radius: 5px;
  border: none;
}
